/**
 * @define WayFinder
 *
 * Helps the user to continue their journey through the site
 */

.WayFinder {
  background: var(--blue);
  padding: 24px;
  text-align: center;
}

.WayFinder-title {
  color: color(white a(87%));
  font: 400 20px/24px RalewayWeb, sans-serif;
  font-feature-settings: "liga" 1, "kern";
  margin-bottom: 24px;
  padding-bottom: 24px;
  position: relative;
}

.WayFinder-title::after {
  border-bottom: 1px solid color(white a(30%));
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  left: 50%;
  margin-left: -5%;
  position: absolute;
  width: 10%;
}

.WayFinder-inner {
  margin: 0 auto;
  max-width: 920px;
  padding: 0;
}

.WayFinder-items {
  margin: 0;
  padding: 0;
}

.WayFinder-item {
  background: url("volunteer.svg") no-repeat 50% top;
  background-size: 42px 42px;
  list-style: none;
  margin: 0 auto;
  max-width: 18em;
  padding-top: 56px;
  position: relative;
}

.WayFinder-item--end {
  margin-top: 32px;
}

.WayFinder-item--donate {
  background-image: url("donate.svg");
}

.WayFinder-itemTitle {
  color: color(white a(87%));
  font: 400 16px/20px RalewayWeb, sans-serif;
  font-feature-settings: "liga" 1, "kern";
  margin-bottom: 8px;
  position: relative;
}

.WayFinder-itemBody {
  color: color(white a(87%));
  display: block;
  font: 400 14px/20px KarlaWeb, sans-serif;
  font-feature-settings: "liga" 1, "kern";
  margin-bottom: 8px;
}

@media (--md-viewport) {

  .WayFinder {
    padding: 32px 24px;
  }

  .WayFinder-title {
    font-size: 28px;
    line-height: 36px;
  }

  .WayFinder-item {
    background-size: 48px 48px;
    max-width: 22em;
    padding-top: 60px;
  }

  .WayFinder-itemTitle {
    font-size: 20px;
    line-height: 32px;
  }

  .WayFinder-itemBody {
    font-size: 16px;
    line-height: 24px;
  }

  .WayFinder--fork .WayFinder-inner {
    display: flex;
    justify-content: space-around;
  }

  .WayFinder--fork .WayFinder-item {
    margin: 0;
    max-width: 18em;
  }

  .WayFinder--fork .WayFinder-item--end {
    margin-top: 0;
  }
}

@media (--lg-viewport) {

  .WayFinder-title {
    font-size: 36px;
    line-height: 42px;
  }

  .WayFinder-title::after {
    margin-left: -2.5%;
    width: 5%;
  }

  .WayFinder-item {
    background-size: 56px 56px;
    padding-top: 68px;
  }
}
