/**
 * @define Holding
 *
 * Welcome banner
 */

.Holding {
  text-align: center;
}

.Holding-title {
  background: var(--dark-blue);
  color: white;
  display: block;
  font: 400 30px/34px RalewayWeb, sans-serif;
  padding: 16px;
}

.Holding-description {
  color: color(black a(87%));
  font: 400 22px/28px RalewayWeb, sans-serif;
  font-feature-settings: "liga" 1, "kern";
  margin: 0 auto;
  max-width: 1100px;
  padding: 16px;
}

.Holding-actions {
  padding: 16px;
}

.Holding-action {
  list-style: none;
  margin-bottom: 16px;
}

.Holding-comingSoon {
  color: color(black a(87%));
  font: 12px/16px KarlaWeb, sans-serif;
  font-feature-settings: "liga" 1, "kern";
  padding: 16px;
}

@media (--md-viewport) {

  .Holding-title {
    font-size: 36px;
    line-height: 44px;
    padding: 24px;
  }

  .Holding-description {
    font-size: 32px;
    line-height: 40px;
    padding: 24px;
  }

  .Holding-actions {
    padding: 24px;
  }

  .Holding-comingSoon {
    padding: 24px;
  }
}

@media (--lg-viewport) {

  .Holding-title {
    font-size: 56px;
    line-height: 60px;
  }

  .Holding-description {
    font-size: 40px;
    line-height: 48px;
  }
}
