{% extends "layouts/default.html" %}

{% set title = "Puentes de Esperanza" %}
{% set description = "Providing tools and support to empower low-income communities through education." %}

{% block main %}

<div class="Hero">
  <h1 class="Hero-title">Puentes de Esperanza</h1>
  <p class="Hero-description">We are a non-profit organization that provides the tools and support necessary to empower low-income communities through education.</p>
</div>

<div class="ContentOptIn">

  <p>We work in and around the small coastal community of Jiquilillo in northern Nicaragua. Our programs originally started in 2004 at <a href="http://rancho-esperanza.com/">Rancho Esperanza</a>, a hostel operating as a social enterprise in the community, but they have now grown into their own non-profit organization.</p>

  <figure>
    <div class="FlexEmbed FlexEmbed--3by2">
      <img
        class="FlexEmbed-item is-lazyLoad"
        data-sizes="auto"
        data-src="media/hand-wash-small.jpg"
        data-srcset="media/hand-wash-small.jpg 800w, media/hand-wash.jpg 1200w" />
    </div>
    <figcaption>Kids Club getting ready to wash their hands as part of Health and Hygiene Week.</figcaption>
  </figure>

  <p>Through the commitment of volunteers and generosity of donors, we are able to run a number of projects that focus on education, including school sponsorships, an after-school program, tutoring and homework help, community guide training, English classes, school support and assistance, capacity-building workshops, and local business development assistance.</p>

</div>

<div class="Billboard">
  <p class="Billboard-action"><a class="Action" href="programs.html">Find out more about our programs</a></p>
</div>

{% endblock %}
