{% extends "layouts/default.html" %}

{% set id = "people" %}
{% set title = "People - Puentes de Esperanza" %}
{% set description = "The Board of Directors of Puentes de Esperanza" %}

{% block main %}

<div class="ContentOptIn">

  <h1>People</h1>

  <p>Shana Falb is the President of the Board of Directors and Executive Director of Puentes de Esperanza. She holds a Masters in International Affairs/Sustainable Development and has been coordinating volunteers, projects, and community involvement in Jiquilillo since 2011.</p>

  <figure>
    <div class="FlexEmbed FlexEmbed--3by2">
      <img
        class="FlexEmbed-item is-lazyLoad"
        data-sizes="auto"
        data-src="media/shana-small.jpg"
        data-srcset="media/shana-small.jpg 800w, media/shana.jpg 1200w" />
    </div>
    <figcaption>Shana with Ana and Karen at their graduation from primary school.</figcaption>
  </figure>

  <p>Nathan Yue has lived and worked in Nicaragua since 1998, with 16+ years in Jiquilillo. He runs <a href="http://rancho-esperanza.com">Rancho Esperanza</a>, the hostel operating as a social enterprise in Jiquilillo, where the programs began. He is a founder of the Board of Directors and a present and guiding force of Puentes de Esperanza.</p>

  <figure>
    <div class="FlexEmbed FlexEmbed--3by2">
      <img
        class="FlexEmbed-item is-lazyLoad"
        data-sizes="auto"
        data-src="media/nate-small.jpg"
        data-srcset="media/nate-small.jpg 800w, media/nate.jpg 1200w" />
    </div>
    <figcaption>Nate removing the remaining school supplies out of the broken piñata to celebrate the first day of new school year.</figcaption>
  </figure>

<p>Maynin Somarriba is from El Viejo and has been visiting family in Jiquilillo since she was a little girl. She holds a university degree in Youth, Citizenship, and Community Development. From the age of 12, she has been leading youth groups, and has five years of experience working with a Nicaraguan organization in sectors involving children, adolescents, and youth. Maynin has been heading our youth education programs since June 2016.</p>

  <p>Nate and Shana are supported by our other Board Members:</p>

  <ul>
    <li>Marissa Ambrosi (treasurer)</li>
    <li>Jess Curto</li>
    <li>Meg Ervais</li>
  </ul>

  <p>The ongoing success of our projects has been achieved through the work of many more talented, inspirational, and just plain hard-working people over the years.</p>

  <p>This website was also a team effort and we'd like to thank the following for their help:</p>

  <ul>
    <li>Adrienne, Alkis, and Nick Hum for their help designing our identity.</li>
    <li>Kevin "Popito" Gallagher, Méleen, and Oriana for digging out and allowing us to use their photographs.</li>
  </ul>
</div>

<nav class="WayFinder WayFinder--fork">
  <h3 class="WayFinder-title">You can help by</h3>
  <ul class="WayFinder-inner">
    <li class="WayFinder-item WayFinder-item--volunteer">
      <h4 class="WayFinder-itemTitle">Volunteering</h4>
      <p class="WayFinder-itemBody">Many of our projects rely on the commitment of volunteers.</p>
      <div class="WayFinder-action">
        <a class="Action Action--inverse" href="volunteer.html">Become one</a>
      </div>
    </li>
    <li class="WayFinder-item WayFinder-item--donate WayFinder-item--end">
      <h4 class="WayFinder-itemTitle">Donating</h4>
      <p class="WayFinder-itemBody">Financial support is the bed-rock of our organisation.</p>
      <div class="WayFinder-action">
        <a class="Action Action--inverse" href="donate.html">Donate online</a>
      </div>
    </li>
  </ul>
</nav>

{% endblock %}
