{% extends "layouts/default.html" %}

{% set id = "programs" %}
{% set title = "Programs - Puentes de Esperanza" %}
{% set description = "Education-based community programs in Nicaragua" %}

{% block main %}

<div class="ContentOptIn" id="projects">

  <h1>Programs</h1>

  <p>The people of Jiquilillo are faced with many challenges, including volatile and persistently low incomes, and a struggling education system. As a result, children are often expected to work in the home or find employment to contribute to the family income. Furthermore, although public education is free, the costs of uniforms, supplies, and transportation can be prohibitive.</p>

  <p>We assist the community through the following projects:</p>

  <ul>
    <li><a href="#scholarships">School Scholarships</a></li>
    <li><a href="#kids-club">After-school Program</a></li>
    <li><a href="#tutoring-hour">Tutoring Hour</a></li>
    <li><a href="#school">School Assistance</a></li>
    <li><a href="#english">English Classes</a></li>
    <li><a href="#computers">Computer Literacy Classes</a></li>
    <li><a href="#workshops">Capacity-Building Workshops</a></li>
    <li><a href="#tourism">Tourism Training</a></li>
  </ul>

  <h2 id="scholarships">School Scholarships</h2>

  <p>Each year, only 60% of the initial enrolment at Camila Zapata Primary School in Jiquilillo continue to attend classes. Most of whom dropout by the fourth grade. Across Nicaragua, the attendance rate in secondary school is only 41%, with a much lower graduation rate, lowest in rural areas like Jiquilillo.</p>

  <figure>
    <div class="FlexEmbed FlexEmbed--3by2">
      <img
        class="FlexEmbed-item is-lazyLoad"
        data-sizes="auto"
        data-src="media/scholarships-small.jpg"
        data-srcset="media/scholarships-small.jpg 800w, media/scholarships.jpg 1200w" />
    </div>
    <figcaption>Nate, Shana, parents, and primary school teachers come together with thirteen of the twenty-five children sponsored to go to school in 2014.</figcaption>
  </figure>

  <p>Since 2007, we have provided a scholarship program to remove the financial obstacle to obtaining education. We have doubled the number of sponsored students from 2013 to 2017, when we we sponsored 42 students to attend school. Scholarship students are chosen, in consultation with teachers and parents, by need and merit. We conduct needs assessments and home visits to find students and families who qualify for the scholarship. We focus on providing primary school scholarships to students in grades four, five, and six, as they are the most at-risk age group for dropping out. We also expanded the number of secondary school scholarships from eight students in 2016 to 20 in 2017!</p>

  <p>In 2017, we began sending three exceptional students to a private secondary school in El Viejo, the nearest town to our rural fishing village. These students have demonstrated an outstanding interest in learning, have consistently earned excellent grades and always maintain a great attendance record. We are excited to provide these students with a new learning environment: small class sizes, greater attention from teachers, and a more well-rounded education. In addition to a high school diploma, these students will also receive a technical degree in accounting.</p>

  <p>All scholarship students receive a uniform, backpack, and all necessary materials at the beginning of the school year. Secondary school students also receive transportation costs. For each week the student attends school, we provide $2.65 for the round-trip transport to school, which is located eight kilometers away. Secondary school students who are attending private school receive an additional $8.95 for each week of classes. All scholarship students receive mentoring and tutoring support throughout the year to ensure their success and increase their chances of continuing the scholarship next year.</p>

  <p>All scholarship students are required to attend school daily, participate in their classes, attend tutoring hour, and complete all homework assignments. We also provide incentive for good grades: if the student has all grades above 85%, they are entitled to a new uniform and materials, should they need them, and a party celebrating their achievement.</p>

  <h2 id="kids-club">After-school Program</h2>

  <p>Our Kids Club program has been running since 2004. Kids Club supplements the children's formal school education and provides a safe place for kids to play, create art, and have access to reading and resource materials.</p>

  <figure>
    <div class="FlexEmbed FlexEmbed--3by2">
      <img
        class="FlexEmbed-item is-lazyLoad"
        data-sizes="auto"
        data-src="media/kids-club-small.jpg"
        data-srcset="media/kids-club-small.jpg 800w, media/kids-club.jpg 1200w" />
    </div>
    <figcaption>Drawing, reading, and board games in Kids Club with Nate, on the left, and volunteers Andrea, Nicki, Lily, and Richard.</figcaption>
  </figure>

  <p>International volunteers, who speak Spanish and have experience with children or other applicable skills, engage local children ages 3-15 in teambuilding exercises, outdoor activities, sports, arts and crafts, science experiments, and reading each weekday. In 2012 a lending library was started and the children bring home books to read to their families. Kids Club is welcoming its second generation of kids who are eager to learn and play in a kind and fun environment.</p>

</div>

<div class="Billboard Billboard--subtle">
  <p class="Billboard-title">Interested in volunteering in this program?</p>
  <p class="Billboard-action"><a class="Action" href="volunteer.html#kids-club">Find out more</a></p>
</div>

<div class="ContentOptIn">
  <h2 id="tutoring-hour">Tutoring Hour</h2>

  <p>Tutoring Hour began in 2016 as a space for local students of all ages to receive homework help and assistance with their studies. We instantly saw the benefits of the program through the improved grades of the attendees, and it is now a requirement for all scholarship students to attend a minimum of 1-2 times per week. During this time, students have access to all the resources they need, including encyclopedias, books, textbooks, dictionaries, volunteers, and the internet.</p>

  <p>We ask that all volunteers who speak intermediate-advanced Spanish, regardless of which program they are helping out with, participate in Tutoring Hour. During this time, volunteers ensure that all students feel supported, and help them use the resources we provide to find the information they need.</p>
</div>

<div class="Billboard Billboard--subtle">
  <p class="Billboard-title">
    Interested in volunteering in this program? Great!<br>
    We ask volunteers in all programs to participate in Tutoring Hour.
  </p>
</div>

<div class="ContentOptIn">
  <h2 id="school">School Assistance</h2>

  <p>The primary school in Jiquilillo and the nearest secondary school, Madre Teresa de Calcuta, are both underfunded and under-resourced. Classes at both schools are overcrowded. At the primary school, over 60 children in two different grades are often taught in one classroom and under the guidance of one teacher. We provide the teachers with materials and supplies they need to provide a productive learning environment.</p>

  <figure>
    <div class="FlexEmbed FlexEmbed--3by2">
      <img
        class="FlexEmbed-item is-lazyLoad"
        data-sizes="auto"
        data-src="media/school-small.jpg"
        data-srcset="media/school-small.jpg 800w, media/school.jpg 1200w" />
    </div>
    <figcaption>First day of the 2014 school year at Jiquilillo's primary school.</figcaption>
  </figure>

  <p>We have conducted small-scale infrastructure projects with both schools, including the installation and upgrade of electrical systems, digging wells, basic property maintenance, and installing latrines, and updating security infrastructure. At the primary school, we also aim to replace desks and chairs and build a playground so the children have a safe and fun place to play during recess.</p>

  <p>All our infrastructure projects are conducted and carried out with local, skilled labor, under the supervision of local foremen and ourselves.</p>

  <p>We also, in consultantion with MINED, supply and maintain a qualified volunteer in the primary school in the form of a teacher assistant/tutor. This volunteer supports the teacher and provides the necessary assistance to the students who are falling behind in their coursework.</p>
</div>

<div class="Billboard Billboard--subtle">
  <p class="Billboard-title">Interested in volunteering in this program?</p>
  <p class="Billboard-action"><a class="Action" href="volunteer.html#assistant">Find out more</a></p>
</div>

<div class="ContentOptIn">
  <h2 id="english">English Classes</h2>

  <p>Tourism and international business are growing rapidly in Nicaragua and the ability to speak English can place an individual in a better position to succeed.</p>

  <figure>
    <div class="FlexEmbed FlexEmbed--3by2">
      <img
        class="FlexEmbed-item is-lazyLoad"
        data-sizes="auto"
        data-src="media/english-classes-small.jpg"
        data-srcset="media/english-classes-small.jpg 800w, media/english-classes.jpg 1200w" />
    </div>
    <figcaption>Skarlett studying English vocab in the Beach House at <a href="http://rancho-esperanza.com">Rancho Esperanza</a>.</figcaption>
  </figure>

  <p>We been providing English classes to youth and adults in Jiquilillo and the surrounding areas for several years, by hosting international volunteers who are certified in teaching English. We provide all the materials and resources the teachers need, including books, workbooks, games, internet access, and copies.</p>
</div>

<div class="Billboard Billboard--subtle">
  <p class="Billboard-title">Interested in volunteering in this program?</p>
  <p class="Billboard-action"><a class="Action" href="volunteer.html#english">Find out more</a></p>
</div>

<div class="ContentOptIn">
  <h2 id="computers">Computer Literacy Classes</h2>

  <p>As computers become more prevalent in society, basic computer literacy has become increasingly important. Unfortunately, this resource is far out of reach for many in Jiquilillo. Thanks to donors, we are able to provide the laptop computers needed to conduct basic computer literacy classes, and more advanced classes on internet research to adolescents and adults in Jiquilillo.</p>

  <p>We place volunteers who teach students computer basics, such as how to power up and down a computer, open and close programs, how to use a mouse and keyboard, type, and create documents. More advanced students learn Microsoft Word and how to conduct research on the internet.</p>
</div>

<div class="Billboard Billboard--subtle">
  <p class="Billboard-title">Interested in volunteering in this program?</p>
  <p class="Billboard-action"><a class="Action" href="volunteer.html#computer">Find out more</a></p>
</div>

<div class="ContentOptIn">
  
  <h2 id="workshops">Capacity-Building Workshops</h2>

  <p>In 2016, we began offering short-term workshops to the community to expand the knowledge of the local teens and adults in areas that provide a socio-economic benefit. We  believe that creating forums for young adults to learn and develop together will create bonds in the community, which is the foundation to a healthy neighborhood culture.</p> 
    
  <p>Thus far, we have offered photography classes, workshops on basic health issues facing the community, personal hygiene,and  sexual and reproductive health. We are also currently training eight community members in basic first-aid and emergency response. With the help of a licensed Nicaraguan psychologist, we are also implementing workshops and activities in the local primary school. In addition to the children's workshops on healthy communication, the teachers are receiving training on behavior and classroom management.</p> 
    
  <p>All capacity-building workshops are provided by Nicaraguans, and so there are no volunteer opportunities for this program.
</p>
  
  
  <h2 id="tourism">Tourism Training</h2>

  <p>Jiquilillo's economy is based on fishing, a seasonal industry that provides an inconsistent source of income for most households. Tourism has grown significantly over the past seven years, and we are assisting local families in using tourism to create alternative forms of income.</p>

  <figure>
    <div class="FlexEmbed FlexEmbed--3by2">
      <img
        class="FlexEmbed-item is-lazyLoad"
        data-sizes="auto"
        data-src="media/community-walk-small.jpg"
        data-srcset="media/community-walk-small.jpg 800w, media/community-walk.jpg 1200w" />
    </div>
    <figcaption>Doña Francisca leading a Community Tour.</figcaption>
  </figure>

  <p>We have been training and supporting locals and local groups interested in starting tourism-oriented enterprises for several years. We've created "cultural excursions", or an excursion into the everyday living activities of locals, that visitors would find interesting to learn. Local women and young adults who lead these excursions share their culture and traditions with travelers passing through Jiquilillo, and in turn, earn approximately $3.50 per client in one hour - a major supplement to household incomes.</p>

  <p>Current cultural excursions offered include tortilla-making classes, coconut tree climbing classes, hand-line fishing classes, mud crab hunting, and a community walk led by a community leader. This year we hope, with a help of qualified international volunteers, to expand our tour guide training and provide new cultural excursions.</p>

</div>

<div class="Billboard Billboard--subtle">
  <p class="Billboard-title">Interested in volunteering in this program?</p>
  <p class="Billboard-action"><a class="Action" href="volunteer.html#tourism">Find out more</a></p>
</div>

<nav class="WayFinder">
  <h3 class="WayFinder-title">You can also help by...</h3>
  <ul class="WayFinder-inner">
    <li class="WayFinder-item WayFinder-item--donate">
      <h4 class="WayFinder-itemTitle">Donating</h4>
      <p class="WayFinder-itemBody">Financial support is the bed-rock of our organisation.</p>
      <div class="WayFinder-action">
        <a class="Action Action--inverse" href="donate.html">Donate online</a>
      </div>
    </li>
  </ul>
</nav>

{% endblock %}
