{% extends "layouts/default.html" %}

{% set id = "volunteer" %}
{% set title = "Volunteer - Puentes de Esperanza" %}
{% set description = "Volunteering opportunities in Nicaragua with Puentes de Esperanza" %}

{% block main %}

<div class="ContentOptIn">
  <h1>Volunteer</h1>

  <p>We are a small scale, hands-on initiative and the majority of our projects rely on the contribution and commitment of volunteers, so please do get in touch if you'd like to dedicate your time and talents to any of our programs.</p>

  <p>All of our programs are coordinated from <a href="http://rancho-esperanza.com">Rancho Esperanza</a>.</p>

  <ul>
    <li><a href="#coordinator">Youth Activities Coordinator</a></li>
    <li><a href="#kids-club">Kids Club Volunteer</a></li>
    <li><a href="#assistant">Teaching Assistant In School</a></li>
    <li><a href="#english">English Tutor</a></li>
    <li><a href="#computer">Computer Literacy Tutor</a></li>
    <li><a href="#tourism">Tourism Trainer</a></li>
  </ul>

  <h2 id="coordinator">Youth Activities Coordinator</h2>

  <p>We are currently accepting applicants to begin <strong>November 2017</strong> to help manage our community programs.</p>

  <figure>
    <div class="FlexEmbed FlexEmbed--3by2">
      <img
        class="FlexEmbed-item is-lazyLoad"
        data-sizes="auto"
        data-src="media/jess-reading-small.jpg"
        data-srcset="media/jess-reading-small.jpg 800w, media/jess-reading.jpg 1200w" />
    </div>
    <figcaption>Jess, our Program Manager in 2014 and now Board Member, reading to some of the children of Kids Club.</figcaption>
  </figure>

  <p>You must be able to commit to a <em>minimum of nine months, with a preference for a longer commitment.</em> You must speak <em>intermediate/advanced Spanish</em> and have experience working with children abroad. You should have experience planning and coordinating activities, and managing volunteers. Previous experience working with an international NGO, and ease of living in the <em>campo</em> is helpful.</p>

  <p>Your responsibilities will include assisting with the day-to-day operations of coordinating youth activities, managing international volunteers, and participating daily in Kids Club and Tutoring Hour. Some of your time will also be dedicated to the administration of the organization. A modest stipend plus room and board are provided.</p>
</div>

<div class="Billboard">
  <p class="Billboard-title">Think you'll make a great Youth Activities Coordinator?</p>
  <p class="Billboard-action"><a class="Action Action--primary" href="mailto:shana@puentes-de-esperanza.org?subject=YouthActivitiesCoordinator">Email us</a></p>
</div>

<div class="ContentOptIn">
  <h2 id="kids-club">Kids Club Volunteer</h2>

  <p>Our longest-running program is Kids Club, where local kids are welcomed every weekday afternoon, from 2-4 p.m., to learn and play under the guidance of our dedicated volunteers. We provide a fun and safe setting in our community center where the kids can just be kids. From 4-5 p.m., Kids Club volunteers participate in Tutoring Hour where they will help kids with their homework.</p>

  <figure>
    <div class="FlexEmbed FlexEmbed--3by2">
      <img
        class="FlexEmbed-item is-lazyLoad"
        data-sizes="auto"
        data-src="media/kids-group-small.jpg"
        data-srcset="media/kids-group-small.jpg 800w, media/kids-group.jpg 1200w" />
    </div>
    <figcaption>The children of Kids Club, with Program Manager, Pablo, and volunteers Oriana and Sidonie, during the volunteer good-bye party.</figcaption>
  </figure>

  <p>The children enjoy a large collection of age-appropriate books, a lending library, arts and crafts projects, indoor and outdoor games, team-building activities, and science projects. We've been nurturing the program since 2004 and we are currently working with our second generation of awesome kids!</p>

  <p>We are always looking for mature volunteers to be positive and fun role models for the children. We would love it if you brought with you great ideas for arts and crafts projects or fun and educational games to share with the kids.</p>

  <p>You will need a <em>minimum of intermediate Spanish skills</em> and be able to commit to a stay of at <em>least three weeks</em> to create a consistent environment for the children. References, details of experience with children, and a Skype interview may be requested.</p>
</div>

<div class="Billboard">
  <p class="Billboard-title">Want to help us in Kids Club?</p>
  <p class="Billboard-action"><a class="Action Action--primary" href="mailto:shana@puentes-de-esperanza.org?subject=Kids-club">Email us</a></p>
</div>

<div class="ContentOptIn">
  <h2 id="assistant">Teaching Assistant In School</h2>

  <p>There is an opportunity to volunteer/intern in the local primary school as a teacher assistant, tutoring those children who are falling behind in their studies, as well as working within the Kids Club.</p>

  <figure>
    <div class="FlexEmbed FlexEmbed--3by2">
      <img
        class="FlexEmbed-item is-lazyLoad"
        data-sizes="auto"
        data-src="media/classroom-small.jpg"
        data-srcset="media/classroom-small.jpg 800w, media/classroom.jpg 1200w" />
    </div>
    <figcaption>Escheling, Jeferson, Karen, and Estefani in their primary school classroom.</figcaption>
  </figure>

  <p>Ideally, you will have studied, or are currently studying, education and/or international development, or you are a teacher, are <em>fluent in Spanish</em>, and in a position to make a <em>three-month minimum commitment</em>. We will provide, if requested, any documentation required for you to receive college credit.</p>
</div>

<div class="Billboard">
  <p class="Billboard-title">Have the skills to be a teaching assistant?</p>
  <p class="Billboard-action"><a class="Action Action--primary" href="mailto:shana@puentes-de-esperanza.org?subject=Teaching-Assistant">Email us</a></p>
</div>

<div class="ContentOptIn">
  <h2 id="english">English Tutor</h2>

  <p>For the past few years we have, with the help of volunteers, been providing free English classes to local adults and children.</p>

  <figure>
    <div class="FlexEmbed FlexEmbed--3by2">
      <img
        class="FlexEmbed-item is-lazyLoad"
        data-sizes="auto"
        data-src="media/english-walking-small.jpg"
        data-srcset="media/english-walking-small.jpg 800w, media/english-walking.jpg 1200w" />
    </div>
    <figcaption>Oniel and Skarlett walking in from the beach to English class at <a href="http://rancho-esperanza.com">Rancho Esperanza</a>.</figcaption>
  </figure>

  <p>We are always looking for volunteers to run the classes. As a volunteer English teacher you will be expected to plan and document lessons, give three one-hour classes each weekday, and give assignments to students. TOEFL certification is requested, but not necessary. There is a <em>minimum six week</em> commitment.</p>
</div>

<div class="Billboard">
  <p class="Billboard-title">Are you an inspiring and motivating tutor?</p>
  <p class="Billboard-action"><a class="Action Action--primary" href="mailto:shana@puentes-de-esperanza.org?subject=English-teacher">Email us</a></p>
</div>

<div class="ContentOptIn">
  <h2 id="computer">Computer Literacy Tutor</h2>

  <p>We have been providing basic computer literacy classes to local teenagers for the past three years to provide them a head-start on this useful skill. We are looking for volunteers to give 2 one-hour classes each weekday. Teachers are expected to plan assignments and document lessons, as well as provide internet research assistance to local students who come to us for homework help.</p>

  <p>A <em>minimum of intermediate-advanced level Spanish</em> is required and we ask for <em>at least a one-month commitment</em>.</p>
</div>

<div class="Billboard">
  <p class="Billboard-title">Have the language and skills?</p>
  <p class="Billboard-action"><a class="Action Action--primary" href="mailto:shana@puentes-de-esperanza.org?subject=Computer-Classes">Email us</a></p>
</div>

<div class="ContentOptIn">
  <h2 id="tourism">Tourism Trainer</h2>

  <p>We are looking for a <em>fluent Spanish-speaking</em> volunteer or intern to work directly with locals to expand community-based tourism in Jiquilillo. You will train locals to become tour guides, and will help begin and expand local tourism businesses within the local community, including a home stay program.</p>

  <p>Tour guide training involves taking everyday living activities and incorporating them into a "cultural excursion" that a visitor would find interesting to learn. Thus far we offer five activities for people traveling through Jiquilillo and guests of <a href="http://rancho-esperanza.com">Rancho Esperanza</a> and have taught locals how to lead them.</p>

  <p>For the homestay program, you will be expected to meet with families, visit their homes and assess what improvements are needed, and help improve their homes so that they can house travelers. You will be expected to instruct locals on how to host a traveler, accommodate their needs, and teach their guest about local culture.</p>

  <p>Finally, you will give business assistance, including teaching basic accounting, inventory, cost/profit analysis, marketing/advertising, and general advice on how to improve local tourism businesses.</p>

  <p>We ask that you stay a <em>minimum of two months</em>. This program is dependent on the availability of local community members and you may not be active each day. As a result, we request that you combine this activity with work in another program (Kids Club, teaching English, etc.).</p>

</div>

<div class="Billboard">
  <p class="Billboard-title">Interested in any of our volunteer opportunities?</p>
  <p class="Billboard-action"><a class="Action Action--primary" href="mailto:shana@puentes-de-esperanza.org?subject=Volunteer">Email us</a></p>
</div>

{% endblock %}
